*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}
:root {
  --accent-clr: rgb(46, 138, 86);
  --dark-clr: #282c34;
  --border-clr: #343a44;
  --link-clr: #61dafb;
  --text-clr: #d0d0d0;
  font-size: clamp(14px, 10px + 1vmin, 20px);
}
::selection {
  background: #ef2d56;
  color: #fff;
}
/* =====Scrollbar===== */
::-webkit-scrollbar {
  width: 6px;
  height: 5px;
  background: none;
}
::-webkit-scrollbar-thumb {
  background: var(--accent-clr);
  border-radius: 6px;
}
body {
  font-family: monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--dark-clr);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

#app {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  padding: 1.5rem;
  gap: 1.5rem;
}
.note {
  height: 200px;
  padding: 1rem;

  color: var(--text-clr);
  background: var(--dark-clr);
  border: 1px solid var(--border-clr);
  border-radius: 1rem;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  outline: 1px solid transparent;
  transition: outline 0.3s, box-shadow 0.3s;
  resize: none;
}
.note:focus,
.note:hover {
  outline: 1px solid var(--accent-clr);
  box-shadow: 0 0 7px rgba(46, 139, 87, 0.5);
}
.add-note {
  font-size: 6rem;
  color: #1c1f29;
  background: var(--dark-clr);
  border: none;
  border-radius: 1rem;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.5);
  outline: 1px solid transparent;
  transition: outline 0.3s, box-shadow 0.3s, color 0.3s;
  cursor: pointer;
}
.add-note:active,
.add-note:hover {
  color: var(--accent-clr);
  outline: 1px solid var(--accent-clr);
  box-shadow: inset 0 0 7px rgba(46, 139, 87, 0.5);
}
